$colorFontBase:#000;
$colorHeaderLinksH:#BFAD9D;
$colorFontLink:#266363;
$panelHeight:50px;
$baseMargin:5px;
$bigFontSize:16px;
$backgroundMainColor:#fff;
$headerColor:#a66e3f;
$borderRadius:10px;
$buttonHover:#759999;
$buttonColor:#B2CCCC;
$backgroundLi:#FFEDDE;
*{
    box-sizing: border-box;
    &:focus{
        outline:none;
    }
}
a{
    color: $colorFontLink;
    &:hover{
        color: darken($colorFontLink,20) ;
    }
}
header,footer,section{
    display:block;
    overflow:hidden;
    padding: 0 $baseMargin*4 ;
}
header{
    height: $panelHeight;
    background: $headerColor;
    color:$backgroundMainColor;
    menu{
        padding: 0 $baseMargin/4;
        list-style: none;
        li{
			line-height: $panelHeight;
			display: inline-block;
			a{
				display: inline-block;
				font-size: $bigFontSize;
				text-decoration: none;
				padding: 0 $baseMargin;
				color:$backgroundMainColor;
				&:hover{
					background: $colorHeaderLinksH;
				}
			}
        }
    }
}
html{
    height: 100%;
}
body{
    background:#ffedde;
    font-family: Tahoma, Geneva, sans-serif;
    margin:0;
    padding: 0;
    height:100%;
}
menu{
    margin: 0;
}
footer{
    height:$panelHeight;
    font-size: 12px;
    background:$headerColor;
    color:$backgroundMainColor;
    line-height: 14px;
    padding-top: ($panelHeight - 2*14)/2;
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#wrap{
    background:$backgroundMainColor;
    width: 999px;
    margin: 0 auto;
    min-height:100%;
    position: relative;
    box-shadow:0 0 20px 2px #555;
    padding-bottom: 12*$baseMargin;
}
h1{
    font-size: 28px;    
}
h1,h2{
	color:$colorFontLink;
	text-align: center; 
}
h2{
    font-size: 22px;    
}
h3{
    font-size: 18px;    
}
p{
    text-indent: 30px;
}
table{
    border-collapse: collapse;
    border: 2px solid black;
    margin:$baseMargin;
    td{
		border: 2px solid black;
		padding: $baseMargin;
		text-align: center;
    }
    input{
        background: transparent;
        border: 0 solid aqua;
        border-bottom: 1px solid black;
    }
}
button,.button{
	text-decoration: none;
    background:$buttonColor;
    border-radius: 3px;
    height:40px;
    line-height:40px;
	margin-top: $baseMargin;
	margin-left: $baseMargin;
    box-shadow:none;
    display:inline-block;
    padding:0 $baseMargin*3;
    border: none;
    text-align: center;
    text-transform:uppercase;
    cursor:pointer;
    &:hover{
		color:$backgroundMainColor;
        background:$buttonHover;
    }
}
.smallbutton{
	height: 20px;
	line-height:20px;
}
.list{
    list-style:none;
    margin:0;
    padding:0;
    li{
		position: relative;
        display:block;
        margin-bottom:2*$baseMargin;
		background:$backgroundLi;
		a{
			background:transparent url(../images/row.png) 100% 50% no-repeat;
			&:hover{
                box-shadow:0 0 10px 2px #ccc;
            }
			&.delete{
				background:none;
				color: red;
				position: absolute;
				top: 20px;
				left: -20px;
				width:20px;
				height:20px;
				line-height: 20px;
				font-size: 20px;
				padding: 0;
				margin: 0;
				text-align: center; 
			}
		}
        a, div.model{
			min-height: 50px;
            padding:$baseMargin;
            display:block;
            text-decoration: none;
            position:relative;
			color:$colorFontLink;
            span{
                display:block;
            }
            span:first-child{
                font-weight:bold;
            }
		}
		div{
			a{
				min-height: auto;
				background: none;
				display: inline-block;
			}
		}
    }

	/*&:after{
		content:'';
		border:8px solid $textBackgroudColor;
		border-left-color:#333;
		position:absolute;
		top:50%;
		right:$baseMargin;
	}*/



}
.centered{
	text-align: center;
}
.elements{
    width:530px;
    border: 1px solid $colorHeaderLinksH;
    tbody{
        border-radius:10px;
    }
    td{
        border: none;
    }
    th{
        width: 300px;
		&.tonkyi{
			width: 1%;
		}
    }
    tr:nth-child(odd) {
		background-color: $backgroundLi;
    }
	&.searchresult{
		width: 750px;
		font-size: 14px;
		.button{
			height:20px;
			line-height: 20px;
			font-size: 12px;
		}
	}
	.delete{
		text-decoration: none;
		font-size: 20px;
	}

}
.miniImage{
    width: 400px;
    float: right;    
}
.simplea{
	text-decoration: none;
	&:hover{

	}
}
.imagebox{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:white none 50% 50% no-repeat;
    background-size: contain;

}
.standartImage{
    text-align: center;
    img{
		max-width: 40%;
    }
}
.author{
    color: gray;
    text-align: right;
    font-size: 10px;
}
.imgmenu{
	clear:both;
    text-align:center;
    a{ 
		color:$colorFontLink;
		display: inline-block;
        font-size: $bigFontSize;
        text-decoration: none;
        padding: 0 $baseMargin;
		&:hover{
			color:$headerColor;
        }
    }
}
.textimg{
    float: right;
    img{
        border: 1px solid $colorHeaderLinksH;
		cursor:pointer;
    }
    a{
		margin-top: 2*$baseMargin;
    }
}
.error{
    color:red;
    padding: $baseMargin*4;
}
@media print{
    h1,h2,table,a,footer,header,h3,.imgmenu{
		display: none;
    }
    .miniImage{
		width:auto;
		max-width: 100%;
		max-height: 170mm;
		float:none;
    }
    .textimg{
		float:none;
		img{
			border:none;
		}
    }
    #wrap{
		box-shadow: none;
		padding: 0;
		margin: 0;
		background-color:$backgroundMainColor;
    }
    section{
		padding: 0;
		text-align: center;
    }
    body{
		background-color: $backgroundMainColor;
    }
}
.formrow{
    input{
        width: 150px;
    }
    label{
		display: inline-block;
		width: 150px;
    }
    select{
		width: 100px;
    }
    .short{
		width: 48px;
    } 
}
.singlerow{
    input,label{
		width: auto;
    }
}
a,button{
	transition: all 0.3s ease-in ;
}
.error{
    color: #FF6347;
}
.note{
	font-size: 12px;
	color: lighten(black,10);
	display: block;
}
.studentsearch{
	float: right;
	label{
		display: block;
	}
	select,input{
		width: 100%;
	}
	.formitem{
		margin-bottom:$baseMargin*1.5;  
	}
}
.smalltable{
	width: 400px;
	margin-top: $baseMargin*3;
}
.feedback{
	float: left;
	text-decoration: none;
	font-size:16px;
	margin-left: 10px;
	line-height: $panelHeight;
	margin-top: -($panelHeight - 2*14)/2;
	color: #fff;
}