$colorFontBase:#000;
$colorFontLink:#4682B4;
$panelHeight:50px;
$baseMargin:5px;
$bigFontSize:18px;
$textBackgroudColor:#FFEDC3;
$backgroundMainColor:darken($textBackgroudColor,20);
$borderRadius:10px;
*{
    box-sizing: border-box;
    &:focus{
        outline:none;
    }
}
a{
    color: $colorFontLink;
    &:hover{
        color: darken($colorFontLink,20) ;
    }
}
header,footer,section{
    display:block;
    overflow:hidden;
    padding: 0 $baseMargin*4 ;
}
header{
    border-radius: $borderRadius $borderRadius 0 0;
    height: $panelHeight;
    background-color: $backgroundMainColor;
    menu{
        padding: 0 $baseMargin/4;
        list-style: none;
        li{
           line-height: $panelHeight;
           display: inline-block;
           a{
               display: inline-block;
               font-size: $bigFontSize;
               text-decoration: none;
               padding: 0 $baseMargin;
               &:hover{
                   background-color: darken($backgroundMainColor,10);
               }
           }
        }
    }
}
html{
    height: 100%;
}
body{
    margin:0;
    padding: 0;
    background: lighten($textBackgroudColor,5);
    height:100%;
}
menu{
    margin: 0;
}
footer{
    height:$panelHeight;
    font-size: 12px;
    background-color: darken($textBackgroudColor,5);
    border-radius: 0 0 10px 10px;
    line-height: 14px;
    padding-top: ($panelHeight - 2*14)/2;
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#wrap{
    background-color: $textBackgroudColor ;
    width: 999px;
    margin: 0 auto;
    min-height:100%;
    position: relative;
    border-radius: $borderRadius;
    box-shadow: 0 0 5px 2px #f90;
    padding-bottom: 12*$baseMargin;
}
h1{
    font-size: 28px; 
    text-align: center;   
}
h2{
    font-size: 22px; 
    text-align: center;   
}
h3{
    font-size: 18px;    
}
p{
    text-indent: 30px;
}
table{
    border-collapse: collapse;
    border: 2px solid black;
    margin:$baseMargin;
    td{
       border: 2px solid black;
       padding: $baseMargin;
       text-align: center;
    }
    input{
        background: transparent;
        border: 0 solid aqua;
        border-bottom: 1px solid black;
    }
}
button{
    background-color: darken($textBackgroudColor,10);
    border-radius: 5px;
    box-shadow: inset -1px -1px 5px 1px #f90;
    padding: $baseMargin;
    border: none;
    &:hover{
        box-shadow: inset 1px 1px 5px 1px #f90;
    }
}
.list{
    list-style:none;
    margin:0;
    padding:0;
    li{
        display:block;
        margin-bottom:2*$baseMargin;
        a{
            padding:$baseMargin;
            display:block;
            text-decoration: none;
            border:1px solid #333;
            border-radius:3px;
            position:relative;
            background:transparent url(../images/row.png) 100% 50% no-repeat;
            span{
                display:block;
            }
            span:first-child{
                font-weight:bold;
            }
            &:hover{
                box-shadow:0 0 10px 2px #ccc;
            }
            /*&:after{
                content:'';
                border:8px solid $textBackgroudColor;
                border-left-color:#333;
                position:absolute;
                top:50%;
                right:$baseMargin;
            }*/
        }
        
    }
}
.elements{
    border: 1px solid darken($textBackgroudColor,30);
    border-radius: 10px;
    tbody{
        border-radius:10px;
    }
    td{
        border: none;
	border-left: 1px solid darken($textBackgroudColor,20);
    }
    th{
        width: 300px;
    }
    tr:nth-child(odd){
        background-color: darken($textBackgroudColor,10) ; 
    }
    tr:first-child{
        border-radius: 10px 10px 0 0;
    }
}
.miniImage{
    width: 400px;
    float: right;
    padding-bottom: $baseMargin*2;
    
}
.imagebox{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:white none 50% 50% no-repeat;
    background-size: contain;

}

.standartImage{
    text-align: center;
    img{
	max-width: 40%;
    }
}
.author{
    color: gray;
    text-align: right;
    font-size: 10px;
}
.imgmenu{
    a{ 
	display: inline-block;
        font-size: $bigFontSize;
        text-decoration: none;
        padding: 0 $baseMargin;
	&:hover{
            background-color: darken($backgroundMainColor,10);
        }
    }
}
.textimg{
     float: right;
}
.error{
    color:red;
    padding: $baseMargin*4;
}

@media print{
    h1,h2,table,a,footer,header,h3,.imgmenu{
	display: none;
    }
    .miniImage{
	width:auto;
	max-width: 100%;
	max-height: 170mm;
	float:none;
    }
    .textimg{
	float:none;
    }
    #wrap{
	box-shadow: none;
	padding: 0;
	margin: 0;
	background-color: #FFF;
    }
    section{
	padding: 0;
	text-align: center;
    }
    body{
	background-color: #FFF;
    }
}
.formrow{
    input{
        width: 150px;
    }
    label{
	display: inline-block;
	width: 150px;
    }
    select{
	width: 100px;
    }
    .short{
	width: 48px;
    }
    background-color: darken($textBackgroudColor,1) ; 
}
.singlerow{
    input,label{
	width: auto;
    }
}
.new{
    background:#ffedde;
    font-family: Tahoma, Geneva, sans-serif;
    a,button{
	transition: all 0.3s ease-out 0.2s;
    }
    #wrap{
	border-radius:0;
	box-shadow:0 0 20px 2px #555;
	background:#fff;
    }
    header{
	border-radius:0;
	background:#a66e3f;
        color:#fff;
	a{
	    color:#fff;
	    &:hover{
		background: #BFAD9D;
	    }
	}
	
    }
    footer{
	border-radius:0;
	background:#a66e3f;
        color:#ffedde;
	
    }
    .list li{
	background:#FFEDDE;
	a{
	    border-radius:0;
	    border:none;
	    color:#266363;
	}
    }
    h1,h2{
	color:#266363;
    }
    .elements {
	width:530px;
	border: 1px solid #a66e3f;
	border-radius: 0;
	tr:{
	   border-radius:0;
	}
	tr:nth-child(odd) {
	    background-color: #FFEDDE;
	}
	td{
	    border:none;
	}
    }
    button{
	height:40px;
	line-height:40px;
	box-shadow:none;
	border-radius:3px;
	background:#759999;
	color:#fff;
	text-align: center;
	display:inline-block;
	padding:0 15px;
	color:#fff;
	text-transform:uppercase;
	cursor:pointer;
    }
    button:hover{
	background:#5F7373;
    }
    .textimg{
	img{
	    border: 1px solid #a66e3f;
	    cursor:pointer;
	}
    }
    .imgmenu{
	text-align:center;
	a{
	    color:#266363;
	    font-size:16px;
	    &:hover{
		background:transparent;
		color:#a66e3f;
	    }
	}
    }
}