* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

a {
  color: #266363; }
  a:hover {
    color: #0a1919; }

header, footer, section {
  display: block;
  overflow: hidden;
  padding: 0 20px; }

header {
  height: 50px;
  background: #a66e3f;
  color: #fff; }
  header menu {
    padding: 0 1.25px;
    list-style: none; }
    header menu li {
      line-height: 50px;
      display: inline-block; }
      header menu li a {
        display: inline-block;
        font-size: 16px;
        text-decoration: none;
        padding: 0 5px;
        color: #fff; }
        header menu li a:hover {
          background: #BFAD9D; }

html {
  height: 100%; }

body {
  background: #ffedde;
  font-family: Tahoma, Geneva, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%; }

menu {
  margin: 0; }

footer {
  height: 50px;
  font-size: 12px;
  background: #a66e3f;
  color: #fff;
  line-height: 14px;
  padding-top: 11px;
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%; }

#wrap {
  background: #fff;
  width: 999px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  box-shadow: 0 0 20px 2px #555;
  padding-bottom: 60px; }

h1 {
  font-size: 28px; }

h1, h2 {
  color: #266363;
  text-align: center; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 18px; }

p {
  text-indent: 30px; }

table {
  border-collapse: collapse;
  border: 2px solid black;
  margin: 5px; }
  table td {
    border: 2px solid black;
    padding: 5px;
    text-align: center; }
  table input {
    background: transparent;
    border: 0 solid aqua;
    border-bottom: 1px solid black; }

button {
  background: #B2CCCC;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  margin-left: 5px;
  box-shadow: none;
  display: inline-block;
  padding: 0 15px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer; }
  button:hover {
    color: #fff;
    background: #759999; }

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  /*&:after{
      content:'';
      border:8px solid $textBackgroudColor;
      border-left-color:#333;
      position:absolute;
      top:50%;
      right:$baseMargin;
  }*/ }
  .list li {
    position: relative;
    display: block;
    margin-bottom: 10px;
    background: #FFEDDE; }
    .list li a {
      padding: 5px;
      display: block;
      text-decoration: none;
      position: relative;
      color: #266363;
      background: transparent url(../images/row.png) 100% 50% no-repeat; }
      .list li a span {
        display: block; }
      .list li a span:first-child {
        font-weight: bold; }
      .list li a:hover {
        box-shadow: 0 0 10px 2px #ccc; }
      .list li a.delete {
        background: none;
        color: red;
        position: absolute;
        top: 20px;
        left: -20px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 20px;
        padding: 0;
        margin: 0;
        text-align: center; }

.elements {
  width: 530px;
  border: 1px solid #BFAD9D; }
  .elements tbody {
    border-radius: 10px; }
  .elements td {
    border: none; }
  .elements th {
    width: 300px; }
  .elements tr:nth-child(odd) {
    background-color: #FFEDDE; }

.miniImage {
  width: 400px;
  float: right; }

.imagebox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white none 50% 50% no-repeat;
  background-size: contain; }

.standartImage {
  text-align: center; }
  .standartImage img {
    max-width: 40%; }

.author {
  color: gray;
  text-align: right;
  font-size: 10px; }

.imgmenu {
  text-align: center; }
  .imgmenu a {
    color: #266363;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    padding: 0 5px; }
    .imgmenu a:hover {
      color: #a66e3f; }

.textimg {
  float: right; }
  .textimg img {
    border: 1px solid #BFAD9D;
    cursor: pointer; }
  .textimg a {
    margin-top: 10px; }

.error {
  color: red;
  padding: 20px; }

@media print {
  h1, h2, table, a, footer, header, h3, .imgmenu {
    display: none; }

  .miniImage {
    width: auto;
    max-width: 100%;
    max-height: 170mm;
    float: none; }

  .textimg {
    float: none; }
    .textimg img {
      border: none; }

  #wrap {
    box-shadow: none;
    padding: 0;
    margin: 0;
    background-color: #fff; }

  section {
    padding: 0;
    text-align: center; }

  body {
    background-color: #fff; } }
.formrow input {
  width: 150px; }
.formrow label {
  display: inline-block;
  width: 150px; }
.formrow select {
  width: 100px; }
.formrow .short {
  width: 48px; }

.singlerow input, .singlerow label {
  width: auto; }

a, button {
  transition: all 0.3s ease-in; }

.error {
  color: #FF6347; }

.note {
  font-size: 12px;
  color: #1a1a1a;
  display: block; }

/*# sourceMappingURL=styles.css.map */
