* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

a {
  color: #4682B4; }
  a:hover {
    color: #294d6b; }

header, footer, section {
  display: block;
  overflow: hidden;
  padding: 0 20px; }

header {
  border-radius: 10px 10px 0 0;
  height: 50px;
  background-color: #ffce5d; }
  header menu {
    padding: 0 1.25px;
    list-style: none; }
    header menu li {
      line-height: 50px;
      display: inline-block; }
      header menu li a {
        display: inline-block;
        font-size: 18px;
        text-decoration: none;
        padding: 0 5px; }
        header menu li a:hover {
          background-color: #ffbf2a; }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  background: #fff5dd;
  height: 100%; }

menu {
  margin: 0; }

footer {
  height: 50px;
  font-size: 12px;
  background-color: #ffe5aa;
  border-radius: 0 0 10px 10px;
  line-height: 14px;
  padding-top: 11px;
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%; }

#wrap {
  background-color: #FFEDC3;
  width: 999px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px #f90;
  padding-bottom: 60px; }

h1 {
  font-size: 28px;
  text-align: center; }

h2 {
  font-size: 22px;
  text-align: center; }

h3 {
  font-size: 18px; }

p {
  text-indent: 30px; }

table {
  border-collapse: collapse;
  border: 2px solid black;
  margin: 5px; }
  table td {
    border: 2px solid black;
    padding: 5px;
    text-align: center; }
  table input {
    background: transparent;
    border: 0 solid aqua;
    border-bottom: 1px solid black; }

button {
  background-color: #ffde90;
  border-radius: 5px;
  box-shadow: inset -1px -1px 5px 1px #f90;
  padding: 5px;
  border: none; }
  button:hover {
    box-shadow: inset 1px 1px 5px 1px #f90; }

.list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .list li {
    display: block;
    margin-bottom: 10px; }
    .list li a {
      padding: 5px;
      display: block;
      text-decoration: none;
      border: 1px solid #333;
      border-radius: 3px;
      position: relative;
      background: transparent url(../images/row.png) 100% 50% no-repeat;
      /*&:after{
          content:'';
          border:8px solid $textBackgroudColor;
          border-left-color:#333;
          position:absolute;
          top:50%;
          right:$baseMargin;
      }*/ }
      .list li a span {
        display: block; }
      .list li a span:first-child {
        font-weight: bold; }
      .list li a:hover {
        box-shadow: 0 0 10px 2px #ccc; }

.elements {
  border: 1px solid #ffbf2a;
  border-radius: 10px; }
  .elements tbody {
    border-radius: 10px; }
  .elements td {
    border: none;
    border-left: 1px solid #ffce5d; }
  .elements th {
    width: 300px; }
  .elements tr:nth-child(odd) {
    background-color: #ffde90; }
  .elements tr:first-child {
    border-radius: 10px 10px 0 0; }

.miniImage {
  width: 400px;
  float: right;
  padding-bottom: 10px; }

.imagebox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white none 50% 50% no-repeat;
  background-size: contain; }

.standartImage {
  text-align: center; }
  .standartImage img {
    max-width: 40%; }

.author {
  color: gray;
  text-align: right;
  font-size: 10px; }

.imgmenu a {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  padding: 0 5px; }
  .imgmenu a:hover {
    background-color: #ffbf2a; }

.textimg {
  float: right; }

.error {
  color: red;
  padding: 20px; }

@media print {
  h1, h2, table, a, footer, header, h3, .imgmenu {
    display: none; }

  .miniImage {
    width: auto;
    max-width: 100%;
    max-height: 170mm;
    float: none; }

  .textimg {
    float: none; }

  #wrap {
    box-shadow: none;
    padding: 0;
    margin: 0;
    background-color: #FFF; }

  section {
    padding: 0;
    text-align: center; }

  body {
    background-color: #FFF; } }
.formrow {
  background-color: #ffebbe; }
  .formrow input {
    width: 150px; }
  .formrow label {
    display: inline-block;
    width: 150px; }
  .formrow select {
    width: 100px; }
  .formrow .short {
    width: 48px; }

.singlerow input, .singlerow label {
  width: auto; }

.new {
  background: #ffedde;
  font-family: Tahoma, Geneva, sans-serif; }
  .new a, .new button {
    transition: all 0.3s ease-out 0.2s; }
  .new #wrap {
    border-radius: 0;
    box-shadow: 0 0 20px 2px #555;
    background: #fff; }
  .new header {
    border-radius: 0;
    background: #a66e3f;
    color: #fff; }
    .new header a {
      color: #fff; }
      .new header a:hover {
        background: #BFAD9D; }
  .new footer {
    border-radius: 0;
    background: #a66e3f;
    color: #ffedde; }
  .new .list li {
    background: #FFEDDE; }
    .new .list li a {
      border-radius: 0;
      border: none;
      color: #266363; }
  .new h1, .new h2 {
    color: #266363; }
  .new .elements {
    width: 530px;
    border: 1px solid #a66e3f;
    border-radius: 0;
    tr-border-radius: 0; }
    .new .elements tr:nth-child(odd) {
      background-color: #FFEDDE; }
    .new .elements td {
      border: none; }
  .new button {
    height: 40px;
    line-height: 40px;
    box-shadow: none;
    border-radius: 3px;
    background: #759999;
    color: #fff;
    text-align: center;
    display: inline-block;
    padding: 0 15px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer; }
  .new button:hover {
    background: #5F7373; }
  .new .textimg img {
    border: 1px solid #a66e3f;
    cursor: pointer; }
  .new .imgmenu {
    text-align: center; }
    .new .imgmenu a {
      color: #266363;
      font-size: 16px; }
      .new .imgmenu a:hover {
        background: transparent;
        color: #a66e3f; }

/*# sourceMappingURL=styles.css.map */
